<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Product</title>
</head>
<body>
  <a href="/mongoose">HOME</a>
  <h1>Add New Product</h1>

  <form action="/mongoose" method="POST">
    Name: <input type="text" name="name"><br>
    Description: <input type="text" name="description"><br>
    Image: <input type="text" name="img"><br>
    Price: <input type="number" name="price"><br>
    Qty: <input type="number" name="qty"><br>
    <input type="submit" value="Add Product">
  </form>
  
</body>
</html>