body{
  background-color: rgb(145, 130, 130);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.show-card{
  background-color: rgb(216, 240, 240);
}

ul{
  font-size: 50px;
  list-style: none;
  display: flex;
}

a{
  text-decoration: none;
}

.product-name-show-page{
  font-size: 30px;
}

.show-page-text{
  font-size: 20px;
}

button{
  background-color: rgb(85, 209, 85);
  font-size: 20px;
  border-radius: 5px;
}

.outOfStock{
  color: red;
}

